<div class="form-container">
  <div class="overflow-hidden surface-overlay">
    <div class="overflow-auto overflow-x-hidden" style="height: 800px; background-color: rgb(212,212,212)">
      <div class="sticky top-0 z-5 relative grid" style="background-color: white">
        <div class="col-4 flex justify-content-start align-items-center">
          <a routerLink="/forms" class="cursor-pointer">
            <img src="images/forms.png" width="60" height="60" fill="none" alt="logo">
          </a>
        </div>
        <div class="col-4 col-offset-4 p-4 pt-5">
          <div class="flex justify-content-end gap-4">
            <i class="pi pi-eye" pTooltip="Preview" tooltipPosition="bottom"
              style="font-size: x-large; color: black; font-weight: 300; margin-top: 5px; cursor: pointer"></i>
            @if (publish) {
            <i class="pi pi-link" (click)="navigateToRespoder()" pTooltip="Go to responder link"
              tooltipPosition="bottom"
              style="font-size: x-large; color: black; font-weight: 300; margin-top: 5px; cursor: pointer;"></i>
            }
            <p-toast />
            <p-confirmdialog />
            <p-button (click)="confirm2($event)" [label]="publish?'Published':'Publish'"
              [style]="{'background-color':'indigo','border-color':'indigo'}"></p-button>
          </div>
        </div>
      </div>

      <div class="grid" style="background-color: rgb(212,212,212);">
        <div class="col-6 col-offset-3 flex justify-content-center">
          <p-tabs [value]="value" style="width: 130px;">
            <p-tablist>
              <p-tab [value]="0"
                style="font-size: large; color: indigo; background-color:rgb(212,212,212);">Questions</p-tab>
              <p-tab [value]="1"
                style="font-size: large; color: indigo; background-color:rgb(212,212,212);">Response</p-tab>
            </p-tablist>
            <p-tabpanels style="background-color: rgb(212,212,212);">

              <p-tabpanel [value]="0" class="flex gap-3 flex-column">
                <form [formGroup]="forms">
                  <p-card class="justify-content-center"
                    [style]="{'width':'800px','height':'100px','margin-right':'-100px','margin-top':'5px'}">
                    <div>
                      <input type="text" pInputText placeholder="Untitled form" formControlName="form_name"
                        class="w-full" />
                    </div>
                    <div></div>
                  </p-card>
                  <div class="flex flex-column gap-4" formArrayName="questions">
                    @for (question of questionsArray.controls; track $index; let qindex = $index; ) {
                    <div class="flex flex-row gap-4" [formGroupName]=qindex>
                      <p-card class="justify-content-center"
                        [style]="{'width':'800px','height':'auto','margin-left':'-300px','margin-top':'5px'}">

                        <div class="flex flex-row gap-8 mb-3">
                          <input type="text" pInputText formControlName="question_name" placeholder="Untitled Question"
                            (focus)="setActiveField('question_name', qindex)" style="padding: 16px; font-size: 20px; width: 500px; border-bottom: 0.5px solid grey; background-color: rgb(240, 240, 240);
                      border-radius: 0; border: 1px solid rgb(240, 240, 240); border-bottom-color: grey;" />
                          <p-select [options]="options" appendTo="body" [fluid]="true" formControlName="question_type"
                            placeholder="Select question type" (onChange)="updateSelectedOption(qindex)"
                            [style]="{'width':'250px' ,'padding':'10px','font-size':'15px'}" optionLabel="name"
                            [dataKey]="'name'">
                            <ng-template let-item pTemplate="item">
                              <i [class]="item?.icon" style="margin-right: 8px;"></i> {{ item?.name }}
                            </ng-template>
                            <ng-template let-item pTemplate="selectedItem">
                              <i [class]="item?.icon" style="margin-right: 8px;"></i> {{ item?.name }}
                            </ng-template>
                          </p-select>
                        </div>

                        <div class="flex flex-column gap-3 mb-6" formArrayName="options">

                          @for (option of getOptionsArray(qindex).controls; track $index; let oindex = $index;) {
                          <div class="flex flex-row gap-0 align-items-center" [formGroupName]="oindex">
                            @if (questionsArray.at(qindex).get('question_type')?.value?.icon !== 'pi pi-align-left' &&
                            questionsArray.at(qindex).get('question_type')?.value?.icon !== 'pi pi-align-justify') {
                            <i [class]="questionsArray.at(qindex).get('question_type')?.value?.icon"
                              style="font-size: 16px; color: grey;"></i>
                            }
                            <div>
                              <input type="text" pInputText formControlName="option_name"
                                (focus)="setActiveField('option_name', qindex, oindex)"
                                [placeholder]="questionsArray.at(qindex).get('question_type')?.value?.icon === 'pi pi-align-left' ? 'Short answer text' : questionsArray.at(qindex).get('question_type')?.value?.icon === 'pi pi-align-justify' ? 'Long answer text' : 'Add Option'"
                                [style]="{
                                'padding': '16px',
                                'font-size': '15px',
                                'width': '600px',
                                'margin-left': questionsArray.at(qindex).get('question_type')?.value?.icon === 'pi pi-align-justify' || questionsArray.at(qindex).get('question_type')?.value?.icon === 'pi pi-align-left' ? '0px' : '10px',
                                'border-bottom':
                                questionsArray.at(qindex).get('question_type')?.value?.icon === 'pi pi-align-left'
                                || questionsArray.at(qindex).get('question_type')?.value?.icon === 'pi pi-align-justify' ? '2px dotted grey' : '0.5px solid grey',
                                'border-radius': '0',
                                }" />
                              <div></div>
                            </div>
                            @if (questionsArray.at(qindex).get('question_type')?.value?.icon !== 'pi pi-align-left'
                            && questionsArray.at(qindex).get('question_type')?.value?.icon !== 'pi pi-align-justify') {
                            <i class="pi pi-plus" tooltipPosition="bottom" pTooltip="Add Option"
                              style="cursor: pointer; margin-left: 10px;" (click)="addOption(qindex)"></i>
                            @if ($index > 0) {
                            <i class="pi pi-times" tooltipPosition="bottom" pTooltip="Remove Option"
                              style="cursor: pointer; margin-left: 50px; font-size: 20px;"
                              (click)="removeOption(qindex, oindex)"></i>
                            }
                            }
                          </div>
                          }
                        </div>
                        <p-divider layout="horizontal" />
                        <div class="flex justify-content-end align-items-end gap-4">
                          <i class="pi pi-copy" pTooltip="Duplicate question" tooltipPosition="bottom"
                            style="cursor: pointer; font-size: 20px;"></i>
                          <i class="pi pi-trash" pTooltip="Delete question" tooltipPosition="bottom"
                            style="cursor: pointer; font-size: 20px; color: red;" (click)="removeQuestion(qindex)"></i>
                        </div>
                      </p-card>
                      <p-card [style]="{'width':'50px','height':'auto' ,'margin-bottom':'165px'}">
                        <i class="pi pi-plus" pTooltip="Add Questions" tooltipPosition="right" (click)="addQuestion()"
                          style="cursor: pointer;"></i>
                      </p-card>
                    </div>
                    }
                  </div>
                </form>
              </p-tabpanel>

              <p-tabpanel [value]="1">
                <div class="flex flex-column justify-content-center align-items-center gap-4">
                  <p-card [style]="{'width':'600px'}">
                    <h2 class="font-semibold mb-4">{{questions.length}} responses</h2>
                  </p-card>
                  <p-card [style]="{'width':'600px'}">
                    <h2 class="font-semibold mb-4">{{formName}}</h2>
                  </p-card>

                  <div class="flex flex-column gap-3">
                    @for (item of questions; track $index) {
                    <p-card [style]="{'width':'600px'}">
                      @for (response of item.responses; track $index) {
                      <h3 class="font-medium mb-4">{{response.question_name}}</h3>
                      @switch (response.question_type) {

                      @case ('Multiple choice') {
                      <!-- @for (choice of item.options; track $index) { -->
                      <div class="flex flex-row gap-2">
                        <p-radiobutton class="mb-3" [value]="response.selected_options"
                          [(ngModel)]="response.selected_options" />
                        <label>{{ response.selected_options }}</label>
                      </div>
                      }
                      <!-- } -->

                      @case ('Checkbox') {
                      @for (checkbox of response.selected_options; track $index) {
                      <div class="flex flex-row gap-2">
                        <p-checkbox class="mb-3" [(ngModel)]="selectedCheckboxValues[checkbox]" [binary]="true" />
                        <label>{{ checkbox }}</label>
                      </div>
                      }
                      }

                      @case ('Dropdown') {
                      <div class="flex flex-row gap-2">
                        <p-select [fluid]="true" class="w-14rem" appendTo="body" [options]="dropdownOptions"
                          [(ngModel)]="selectedDropdownValue" optionLabel="option_name" dataKey="option_name"
                          placeholder="Select" />

                      </div>
                      }

                      @case ('Short answer') {
                      <input type="text" [value]="response.selected_options" [(ngModel)]="response.selected_options"
                        pInputText placeholder="Short answer" class="w-full"
                        style="padding: 16px; width: 500px; border-bottom: 0.5px solid grey; background-color: rgb(240, 240, 240); border-radius: 0; border: 1px solid rgb(240, 240, 240); border-bottom-color: grey;" />
                      }

                      @case ('Paragraph') {
                      <input type="text" [value]="response.selected_options" [(ngModel)]="response.selected_options"
                        pInputText placeholder="Long answer" class="w-full"
                        style="padding: 16px; width: 500px; border-bottom: 0.5px solid grey; background-color: rgb(240, 240, 240); border-radius: 0; border: 1px solid rgb(240, 240, 240); border-bottom-color: grey;" />
                      }
                      @default {
                      <p>Unknown question type</p>
                      }
                      }
                      }
                    </p-card>
                    }
                    <p-toast />
                  </div>

                </div>
              </p-tabpanel>
            </p-tabpanels>
          </p-tabs>
        </div>
      </div>
    </div>
  </div>
</div>