<div class="flex flex-column justify-content-center align-items-center gap-4">

  <p-card [style]="{'width':'600px'}">
    <h2 class="font-semibold">{{formName}}</h2>
    <p-divider />
    <h2 class="font-semibold">{{emailID}}</h2>
  </p-card>

  <div class="flex flex-column gap-3">
    @for (item of questions; track $index) {
    <form [formGroup]="responseForm">
      <p-card [style]="{'width':'600px'}">
        <h3 class="font-medium mb-4">{{item.question_name}}</h3>
        @switch (item.question_type) {
        @case ('Multiple choice') {
        @for (choice of item.options; track $index) {
        <div class="flex flex-row gap-2">
          <p-radiobutton [inputId]="choice.option_name" [value]="choice.option_name" formControlName="SelectChoice"
            class="mb-3" />
          <label [for]="choice.option_name">{{ choice.option_name }}</label>
        </div>
        }
        }

        @case ('Checkbox') {
        @for (checkbox of item.options; track $index) {
        <div class="flex flex-row gap-2">
          <p-checkbox formControlName="selectCheckbox" [value]="checkbox.option_name" class="mb-3"
            [inputId]="checkbox.option_name" />
          <label [for]="checkbox.option_name">{{ checkbox.option_name }}</label>
        </div>
        }
        }

        @case ('Dropdown') {
        <div class="flex flex-row gap-2">
          <p-select formControlName="selectedDropdown" [options]="item.options" [fluid]="true" class="w-14rem"
            appendTo="body" optionLabel="option_name" placeholder="Select" />
        </div>
        }
        @case ('Short answer') {
        <input type="text" pInputText formControlName="shortAnswer" placeholder="Short answer" class="w-full" style="padding: 16px; width: 500px; border-bottom: 0.5px solid grey; background-color: rgb(240, 240, 240);
                    border-radius: 0; border: 1px solid rgb(240, 240, 240); border-bottom-color: grey;" />
        }
        @case ('Paragraph') {
        <input type="text" pInputText formControlName="longAnswer" placeholder="Long answer" class="w-full" style="padding: 16px; width: 500px; border-bottom: 0.5px solid grey; background-color: rgb(240, 240, 240);
                    border-radius: 0; border: 1px solid rgb(240, 240, 240); border-bottom-color: grey;" />
        }
        @default {
        <p>Unknown question type</p>
        }
        }
      </p-card>
    </form>
    }
    <div class="flex justify-content-between ">
      <p-button type="submit" (click)="submitResponse()" [style]="{'background-color':'indigo','border-color':'indigo'}"
        label="Submit"></p-button>

      <p-button (click)="clearResponse()"
        [style]="{'background-color':'#f0ebf8','border-color':'#f0ebf8','color':'indigo'}"
        label="Clear form"></p-button>

    </div>
    <p-toast />
  </div>
</div>
