<p-card class="flex justify-content-center m-8" [style]="{'width':'50rem','background-color':'#f2f2f2'}">
  <h2 class="flex justify-content-center font-semibold">Welcome to login !</h2>
  <div class="grid">
    <div class="flex flex-column md:flex-row">
      <form [formGroup]="loginform" (ngSubmit)="login()">
        <div class="w-full md:w-5/12 flex justify-content-center align-items-center flex-column gap-3 pl-4 py-5">
          <div class="flex justify-content-center align-items-center gap-6 ">
            <label for="email">Email</label>
            <input pInputText id="email" type="text" formControlName="email" />
          </div>
          <div class="flex justify-content-center align-items-center gap-4">
            <label for="password">Password</label>
            <input pInputText id="password" type="password" formControlName="password" />
          </div>
          <div class="flex justify-content-center align-items-center gap-4">
            <p-button type="submit" label="Login" [disabled]="loginform.invalid" icon="pi pi-user" class="w-full" />
          </div>
        </div>
      </form>
      <div class="w-full md:w-2/12 ml-4">
        <p-divider layout="vertical" class="!hidden md:!flex">
          <b>OR</b>
        </p-divider>
      </div>
      <div class="col-6 md:w-5/12 flex justify-content-center align-items-center">
        <p-button label="Sign Up" [routerLink]="['/register']" routerLinkActive="router-link-active"
          icon="pi pi-user-plus" severity="success" [fluid]="true" />
      </div>
    </div>
  </div>
</p-card>
